@import url(reset.css);
@import url(variaveis.css);

* {
	transform-style: preserve-3d;
	perspective: 1px;
}

html {
	height: 100vh;
	overflow: hidden;
}

body {
	font-family: "Overpass", sans-serif;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.container {
	padding-right: 2rem;
	padding-left: 2rem;
}
